<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../component/head-base') %>
  </head>
  <body>
 <%- include('../component/global-nav') %>
    <div class="content">
      <%- form.start( "emu" , {} ); %>
      <% for (var i = 31; i < 74; i++) { %>
      <div class="row form-item">
          <div class="col"><%= i %> </div>
          <div class="col"><%- form.input( "dbr" + i , {type:"hidden"} ); %></div>
          <div class="col"><%- form.input( "ship_free_threshold" + i ,{value:30000} ); %></div>
      </div>
      <% } %>
      <div class="text-right">
      <%- form.submit( "計算" ); %>
      </div>
      <%- form.end(); %>
    </div>

 <%- include('../component/scripts') %>
  </body>
</html>
