<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../../common/views/head-base') %>
  </head>
  <body>
<%- include('../../common/views/global-nav') %>

  <div class="content row">

    <div class="col col-3">
        サイドナビ
    </div>

    <div class="col col-9">
      <div id="main">

        <%- form.start( "task" , task , { "method" :"put" , "action" : "/tasks/:id" }); %>
          <div class="form-item">
            <label for="title">Title</label>
            <%- form.input( "id" , { type : "hidden"}); %>
            <%- form.input( "title" , {class : "w100"} ); %>
          </div>
          <div class="form-item">
            <label for="priod">Priod</label>
            <%- form.input( "priod" , {class : "w100 calendar"} ); %>
          </div>
          <%- form.submit( "送信" ); %>

        <%- form.end(); %>

     </div>
    </div>


  </div>
<%- include('../../common/views/scripts') %>



  </body>
</html>

