<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../../common/views/head-base') %>
  </head>
  <body>
<%- include('../../common/views/global-nav') %>

  <div class="wrap">

    <div class="col col-3">
        <%- include('./sidebar') %>
    </div>

    <div class="col col-9">
      <div id="main">
        <%- console.log(task) %>
        <%- hlp.crud.delete( "delete" , { path : "/tasks/#" , id : task.id , csrf : csrf , redirect : "/tasks" } ) %>

        <%- hlp.form.start( "task" , task , { "method" :"put" , "action" : "/tasks/:id" }); %>
          <div class="form-item">
            <label for="title">Title</label>
            <%- hlp.form.input( "id" , { type : "hidden"}); %>
            <%- hlp.form.input( "title" , { type : "text" } ); %>
          </div>
          <div class="form-item">
            <label for="priod">Priod</label>
            <%- hlp.form.input( "priod" , {class : "w100 calendar"} ); %>
          </div>
          <%- hlp.form.submit( "送信" ); %>

        <%- hlp.form.end(); %>

     </div>
    </div>


  </div>
<%- include('../../common/views/scripts') %>



  </body>
</html>

