
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../component/head-base') %>
  </head>
  <body>
<%- include('../component/global-nav') %>

  <div class="content row">

    <div class="col col-3">
        サイドナビ
    </div>

    <div class="col col-9">
      <div id="main">
        <form action="" method="POST" class="form">
          <input type="hidden" name="_csrf" value="<%= csrf %>">
          <div class="form-item">
            <label for="title">Title</label>
            <input class="w100" type="text" name="title" value="<%= task.title %>">
          </div>
          <div class="form-item">
            <label for="title">Priod</label>
            <input class="w100 calendar" type="text" name="priod" value="<%= task.priod %>">
          </div>
          <div class="form-item">
            <button class="button primary">Submit </button>
          </div>
        </form>
      </div>
    </div>


  </div>
<%- include('../component/scripts') %>



  </body>
</html>

