<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../components/head-base') %>
  </head>
  <body>
 <%- include('../components/global-nav') %>

<%- tasks.length %>




 <%- include('../components/scripts') %>
  </body>
</html>
